@import './reset.css';

:root {
 --app-dark-bg: #1a1d28;
 --app-red: #ff3c57;
 --app-green: #33ab4e;
 --app-purple: #833cff;
 --app-orange: #ff833c;
 --app-blue: #3c57ff;
 --app-blue-hover: #364ee6;
}
 
body {
 background-color: var(--app-dark-bg);
}

body, p {
    transition: all 0.25s ease-in-out;
}
 
.container {
 width: min(100% - 30px, 1280px);
 margin-inline: auto;
}

h1, h2, h3, a, p, label {
    color: white;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

input[type="button"] {
    width: 120px;
    height: 46px;
    margin-top: 20px;
    text-align: center;
    background-color: var(--app-blue);
    border: 1px solid var(--app-blue);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
  }
  
   
  
  input[type="button"]:hover {
    background-color: var(--app-blue-hover);
  }
  
  section {
    display: grid;
    height: 80vh;
    place-items: center;
  }

.box {
    text-align: center;
}

